# Usability Test Report

The Usability Tests provided us with some useful user feedback about our prototype. This report is a presentation of the received feedback and test results, evaluating the usability metrics against the pre-approved goals, subjective evaluations, and specific usability problems and recommendations for resolution. The recommendations will be categorically sized by development to aid in the implementation strategy.

This report will be split in two sections as the team ran two usability group tests. The second group ran with slight modifications of the functionality of the game based on group one's feedback and results.

## Metrics and goals

Completion success and error rates showed what functionality was missing or incomplete in our prototype. Time-to-completion of scenarios was useful because it showed which scenarios took longer to complete, often due to design/layout flaws. However, the best feedback was received through subjective evaluations and commentary while testing.

Our goals with this testing were to establish a baseline of user performance, establish and validate user performance measures, and identify potential design concerns to be addressed in order to improve the efficiency, productivity, and end-user satisfaction.

Metrics such as 'time-on-task' showed whether scenarios can be completed 'quickly and easily', as is one of our usability goals. Subjective evaluations and commentary gave us deeper insight into potential design concerns and how efficient and satisfying the interface is for our users

## Results

This section outlines the times, completion rates, error rates and any further notes for any specific tasks. There may be deviation in tasks as it was extremely hard to mediate how a player will interact with the tasks when within the game.

### Group One Results

**TIMES**

| Task                                             | Player One | Player Two | Player Three | Player Four | Player Five |
| ------------------------------------------------ | ---------- | ---------- | ------------ | ----------- | ----------- |
| Select Tutorial from the Menu                    |            |            |              |             |             |
| Move towards the big white cube                  |            |            |              |             |             |
| Move towards the sinking white cube              |            |            |              |             |             |
| Look up to the top of the original cube          |            |            |              |             |             |
| Walk through the orange portal                   |            |            |              |             |             |
| Walk back through the blue portal                |            |            |              |             |             |
| Fire a portal at the big white cube              |            |            |              |             |             |
| Walk through the blue portal                     |            |            |              |             |             |
| Walk back through the orange portal              |            |            |              |             |             |
| Fire an orange portal at the grey shape          |            |            |              |             |             |
| Fire a portal at the ground                      |            |            |              |             |             |
| Exit the level through the hole in the wall      |            |            |              |             |             |
| Level One: Reach the goal as quickly as possible |            |            |              |             |             |

**TASK RATES**
| Task | Completion Rate % | Error-Free Rate % | Notes |
|-------------------------------------------------------|-----------------|-----------------|-------|
| Select Tutorial from the Menu | | | |
| Move towards the big white cube | | | |
| Move towards the sinking white cube | | | |
| Look up to the top of the original cube | | | |
| Walk through the orange portal | | | |
| Walk back through the blue portal | | | |
| Fire a portal at the big white cube | | | |
| Walk through the blue portal | | | |
| Walk back through the orange portal | | | |
| Fire an orange portal at the grey shape | | | |
| Fire a portal at the ground | | | |
| Exit the level through the hole in the wall | | | |
| **Level One**: Reach the goal as quickly as possible | | | |

**PROBLEMS**

| Task                                                 | Completion Rate % | Error-Free Rate % | Notes |
| ---------------------------------------------------- | ----------------- | ----------------- | ----- |
| Select Tutorial from the Menu                        |                   |                   |       |
| Move towards the big white cube                      |                   |                   |       |
| Move towards the sinking white cube                  |                   |                   |       |
| Look up to the top of the original cube              |                   |                   |       |
| Walk through the orange portal                       |                   |                   |       |
| Walk back through the blue portal                    |                   |                   |       |
| Fire a portal at the big white cube                  |                   |                   |       |
| Walk through the blue portal                         |                   |                   |       |
| Walk back through the orange portal                  |                   |                   |       |
| Fire an orange portal at the grey shape              |                   |                   |       |
| Fire a portal at the ground                          |                   |                   |       |
| Exit the level through the hole in the wall          |                   |                   |       |
| **Level One**: Reach the goal as quickly as possible |                   |                   |       |

**CHANGES**

### Group Two Results

**TIMES**

| Task                                                 | Player Six | Player Seven | Player Eight | Player Nine | Player Ten | Player Eleven | Player Twelve |
| ---------------------------------------------------- | ---------- | ------------ | ------------ | ----------- | ---------- | ------------- | ------------- |
| Select Tutorial from the Menu                        |            |              |              |             |            |               |               |
| Move towards the big white cube                      |            |              |              |             |            |               |               |
| Move towards the sinking white cube                  |            |              |              |             |            |               |               |
| Look up to the top of the original cube              |            |              |              |             |            |               |               |
| Walk through the orange portal                       |            |              |              |             |            |               |               |
| Walk back through the blue portal                    |            |              |              |             |            |               |               |
| Fire a portal at the big white cube                  |            |              |              |             |            |               |               |
| Walk through the blue portal                         |            |              |              |             |            |               |               |
| Walk back through the orange portal                  |            |              |              |             |            |               |               |
| Fire an orange portal at the grey shape              |            |              |              |             |            |               |               |
| Fire a portal at the ground                          |            |              |              |             |            |               |               |
| Exit the level through the hole in the wall          |            |              |              |             |            |               |               |
| **Level One**: Reach the goal as quickly as possible |            |              |              |             |            |               |               |

**TASK RATES**

| Task                                                 | Completion Rate % | Error-Free Rate % | Notes |
| ---------------------------------------------------- | ----------------- | ----------------- | ----- |
| Select Tutorial from the Menu                        |                   |                   |       |
| Move towards the big white cube                      |                   |                   |       |
| Move towards the sinking white cube                  |                   |                   |       |
| Look up to the top of the original cube              |                   |                   |       |
| Walk through the orange portal                       |                   |                   |       |
| Walk back through the blue portal                    |                   |                   |       |
| Fire a portal at the big white cube                  |                   |                   |       |
| Walk through the blue portal                         |                   |                   |       |
| Walk back through the orange portal                  |                   |                   |       |
| Fire an orange portal at the grey shape              |                   |                   |       |
| Fire a portal at the ground                          |                   |                   |       |
| Exit the level through the hole in the wall          |                   |                   |       |
| **Level One**: Reach the goal as quickly as possible |                   |                   |       |

**PROBLEMS**

These problems are based on the testers six till twelve of our pre-test and post-test questionnaires.

| Problem | Impact (Low, Moderate, High) | Frequency (Low, Moderate, High) | Severity (1-4) <!-- 1 is high severity and 4 is the lowest --> |
| ------- | ---------------------------- | ------------------------------- | -------------------------------------------------------------- |
|         |                              |                                 |                                                                |
|         |                              |                                 |                                                                |

## FURTHER RECOMMENDATIONS
